<div class="clearfix">
  Written for:
  <% micropost.user.subjects.sort{|a, b| a.name <=> b.name}.each do |subject| %>
    <%= check_box_tag  "selected_subject_ids[]", subject.id, micropost.subjects.include?(subject),
                             :id => "selected_subject_ids_id#{subject.id}"  %>
    <%= subject.name %>
  <% end %>
</div>